@tailwind base;
@tailwind components;
@tailwind utilities;

/* .uploadImagePanel {
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  background: #bee0ec;
  width: 700px;
  height: 300px;
}

.Main {
  padding: 50px;
}

.fileUpload {
  width: 100%;
  margin-bottom: 50px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.result {
  margin-left: 30px;
  padding-bottom: 30px;
} */
